<div nz-row>
  <div nz-col nzSpan="6" class="gadget-box">  
    <div nz-row>
      <div nz-col class="gutter-row" [nzSpan]="12"><label><i nz-icon nzType="user" nzTheme="outline"></i><span>New user</span></label></div>
      <div nz-col class="gutter-row" [nzSpan]="12"><label class="qnty violet">34</label></div>
    </div> 
    <nz-progress [nzPercent]="50" [nzShowInfo]="false" nzSize="small" [nzStrokeColor]="'#624cec'"></nz-progress>
  </div>

  <div nz-col nzSpan="6" class="gadget-box">  
    <div nz-row>
      <div nz-col class="gutter-row" [nzSpan]="12"><label><i nz-icon nzType="file" nzTheme="outline"></i><span>Today Invoices</span></label></div>
      <div nz-col class="gutter-row" [nzSpan]="12"><label class="qnty blue">18</label></div>
    </div> 
    <nz-progress [nzPercent]="50" [nzShowInfo]="false" nzSize="small" [nzStrokeColor]="'#237de3'"></nz-progress>
  </div>

  <div nz-col nzSpan="6" class="gadget-box">  
    <div nz-row>
      <div nz-col class="gutter-row" [nzSpan]="12"><label><i nz-icon nzType="issues-close" nzTheme="outline"></i><span>Open issues</span></label></div>
      <div nz-col class="gutter-row" [nzSpan]="12"><label class="qnty orange">46</label></div>
    </div> 
    <nz-progress [nzPercent]="50" [nzShowInfo]="false" nzSize="small" [nzStrokeColor]="'#fcb44e'"></nz-progress>
  </div>

  <div nz-col nzSpan="6" class="gadget-box">  
    <div nz-row>
      <div nz-col class="gutter-row" [nzSpan]="12"><label><i nz-icon nzType="folder" nzTheme="fill"></i><span>New Projects</span></label></div>
      <div nz-col class="gutter-row" [nzSpan]="12"><label class="qnty red">12</label></div>
    </div> 
    <nz-progress [nzPercent]="50" [nzShowInfo]="false" nzSize="small" [nzStrokeColor]="'#fb3f5f'"></nz-progress>
  </div>
</div>

