<nz-layout class="app-layout">
  <nz-sider
    class="menu-sidebar"
    nzCollapsible
    nzWidth="256px"
    nzBreakpoint="md"
    [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null"
  >
    <div class="top-logo" *ngIf="isshow">
      <h1>MINIMAL<span>LITE</span></h1>
    </div>
    <div class="sidebar-logo">
      <a href="https://ng.ant.design/" target="_blank">
        <img
          src="https://pbs.twimg.com/profile_images/1082960962494320640/tyatSoyg_400x400.jpg"
          alt="logo"
        />
        <h1>Ant Design Of Angular</h1>
      </a>
    </div>
    <ul
      nz-menu
      nzTheme="dark"
      nzMode="inline"
      [nzInlineCollapsed]="isCollapsed"
    >
      <li nz-submenu nzOpen nzTitle="Dashboard" nzIcon="dashboard"></li>
      <li nz-submenu nzOpen nzTitle="Form" nzIcon="form"></li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="logo"></div>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed; isshow = !isshow">
          <i
            class="trigger"
            nz-icon
            [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
          ></i>
        </span>
      </div>
    </nz-header>
    <div class="title">
      <h2>Dashboard <span style="font-size: 16px">Control Panel</span></h2>
    </div>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
