.facebook {
  background-color: #3b5998;
  padding: 10px;
  color: white;
}

.twitter {
  background-color: #29aced;
  padding: 10px;
  color: white;
}

.google {
  background-color: #fb4b6c;
  padding: 10px;
  color: white;
}

i {
    color: white;
    font-size: 32px;  
    padding: 0 0 10px 10px;
}

h5 {
    color: white;
    font-size: 17px;
    font-weight: bold;
    padding: 10px;
    position: absolute;
    top: 10px;
    right: 20px;
}