<div nz-row [nzGutter]="[20, 20]">
  <div nz-col class="gutter-row" nzSpan="8">
    <div class="facebook inner-box">
      <i nz-icon nzType="facebook" nzTheme="outline"></i>
      <h5>Facebook feed</h5>
      <p>
        Pellentesque habitant morbi tristique senectus et netus et malesuada
        fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae,
        ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam
        egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend
        leo.
      </p>
    </div>
  </div>

  <div nz-col class="gutter-row" nzSpan="8">
    <div class="twitter inner-box">
      <i nz-icon nzType="twitter" nzTheme="outline"></i>
      <h5>Twitter feed</h5>
      <p>
        Pellentesque habitant morbi tristique senectus et netus et malesuada
        fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae,
        ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam
        egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend
        leo.
      </p>
    </div>
  </div>

  <div nz-col class="gutter-row" nzSpan="8">
    <div class="google inner-box">
      <i nz-icon nzType="google-plus" nzTheme="outline"></i>
      <h5>Google feed</h5>
      <p>
        Pellentesque habitant morbi tristique senectus et netus et malesuada
        fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae,
        ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam
        egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend
        leo.
      </p>
    </div>
  </div>
</div>
